body {
    display: flex;
    font-family: Arial, sans-serif;
    background-image: url(BackgroundGede.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(1, 7, 7)    ;
    margin: 0;
    padding: 250px;
}

.container {
    display: flex;
    max-width: 600px;
    text-align: center;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}